@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    font-family: Inter, system-ui, sans-serif;
  }

  @screen xl {
    html {
      font-size: 16px;
    }
  }

  @screen lg {
    html {
      font-size: 14px;
    }
  }

  @screen md {
    html {
      font-size: 12px;
    }
  }

  @screen sm {
    html {
      font-size: 10px;
    }
  }
}

.container-padding {
  @apply px-24 sm:px-6;
}

.container-box {
  @apply px-24 sm:px-6 md:px-10 lg:px-16;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
